ul {
	background: #222930;
	border-radius: 5px;
	list-style: none;
	padding: 10px;
	display:inline-block;
}

ul li {
	font-size: 16px;
	font-family: helvetica, sans-serif;
	color: #E9E9E9;
	line-height: 125%;
	-webkit-transition: font-size 1s; /* Safari */
    transition: font-size 1s;
}

ul li:hover {
	font-size: 24px;
}